<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

   {% include 'boostrap/_style.html' %}
</head>
<body>

<div>
    <a href=" {% url 'register' %} ">Registration</a>
    <a href=" {% url 'login' %} ">Login</a>
    <a href=" {% url 'logout' %} ">Logout</a>
</div>

<div>
    {% if perms.main.add_course %}
    <a  href="{% url 'course_create' %}">Create course</a>
    {% endif %}

    {% if perms.main.add_student %}
    <a  href="{% url 'student_create' %}">Create student</a>
    {% endif %}
</div>

    {% for course in courses %}
    <h> <a href="{% url 'course_students' course.id %}">{{course.name}}</a>
         {% if perms.main.change_course %}
    <a href=" {% url 'course_update' course.id %}"> Update course</a>
        {% endif %}
    </h>

    {% endfor %}


<div>
    {% block main %}
    {% endblock main %}
</div>

<div>
    {% block paginator %}
    {% endblock paginator %}
</div>


{% include 'boostrap/_js.html' %}
</body>
</html>