<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a  href="{% url 'course_create' %}">Create course</a>
    <a  href="{% url 'student_create' %}">Create student</a>
</div>

    {% for course in courses %}
    <h><a href="{% url 'course_students' course.id %}">{{course.name}}</a>
    <a href=" {% url 'course_update' course.id %}"> Update course</a></h>

    {% endfor %}


<div>
    {% block main %}
    {% endblock main %}
</div>

</body>
</html>